## 2. Boolean Expressions and Conditionals

- Comparisons: ==, !=, <, >, <=, >=
- Logical: and, or, not
- if / elif / else; membership with `in`

In [47]:
a=True
b=True

print(a and b)  # False
print(a or b)   # True
print(not a)    # False
print(a & b)
print(a | b)

True
True
False
True
True

In [48]:
a, b = 7, 3
print('a == b:', a == b)
print('a != b:', a != b)
print('a > b:', a > b)
print('a <= b:', a <= b)
print('(a > 5) and (b < 5):', (a > 5) and (b < 5))
print('(a > 5) & (b < 5):', (a > 5) & (b < 5))
print('(a < 5) or (b < 2):', (a < 5) or (b < 2))
print('not (a == 7):', not (a == 7))

a == b: False
a != b: True
a > b: True
a <= b: False
(a > 5) and (b < 5): True
(a > 5) & (b < 5): True
(a < 5) or (b < 2): False
not (a == 7): False

In [51]:
f'{9:b}'

'1001'

In [50]:
f'{3:b}'

'11'

In [53]:
9 & 3

1

In [52]:
1001
0011

1

 # Conditional Statements

In [57]:
# if statement — basic condition
#Runs a block of code only if the condition is true.
x = 10

if x > 5:
    print("x is greater than 5")
    print("This line is also inside the if block")

x is greater than 5
This line is also inside the if block

In [28]:
# if–else statement — two-way decision
x = 3

if x > 5:
    print("x is greater than 5")
else:
    print("x is not greater than 5")

x is not greater than 5

In [59]:
# if–elif–else chain — multiple conditions
score = 95

if score >= 90:
    print("The grade is A")
elif score >= 80:
    print("The grade is B")
elif score >= 70:
    print("The grade is C")
else:
    print("The grade is F")

The grade is A

### range function

In [63]:
print(list(range(3)))          # [0, 1, 2]
print(list(range(2, 7, 2)))    # [2, 4, 6]
print(list(range(2, 7,3)))    # [2, 4, 6]

[0, 1, 2]
[2, 4, 6]
[2, 5]

## 3. Loops: for, while, range()

- for over lists/strings/dicts
- range(start, stop, step) and enumerate()
- while with break/continue

In [65]:
import time
for i in range(5):
    print(i)
    time.sleep(1)  # Pause for 1 second

0
1
2
3
4

In [68]:
for i in range(5,0,-1):
    print(i)

5
4
3
2
1

In [67]:
for x in 'Rama':
    print(x)

R
a
m
a

In [69]:
for i,x in enumerate('Rama'):
    print(i,x)

0 R
1 a
2 m
3 a

In [76]:
name='Rama'
for i in range(len(name)-1,-1,-1):
    print(name[i])

a
m
a
R

In [77]:
len(name)

4

In [37]:
items = ['a','b','c']
for i, val in enumerate(items):
    print(i, val)

0 a
1 b
2 c

### While loop

In [79]:
# Initialize
n = 5
factorial = 1
i = 1

while i <= n:
    factorial *= i
    i += 1

print("Factorial of", n, "is", factorial)

Factorial of 5 is 120

In [83]:
a=5
a*=2
print(a)

10

### break and continue

In [85]:
# countdown and continue/break demo
n = 5
while n > 0:
    if n == 3:
        n -= 1
        continue  # skip printing 3
    if n==2:
        break     # exit loop when n is 2
    print('n =', n)
    n -= 1

n = 5
n = 4

In [89]:
signal=0
for i in range(5):
    for j in range(3):
        if j==2:
            signal=1
            break
        print(f'i={i}, j={j}')
    if signal==1:
        break

i=0, j=0
i=0, j=1

## 1. List Overview

- Lists are ordered, zero-indexed, and mutable
- Support slicing and heterogeneous elements

In [90]:
items = [1, 'two', 3.0, ['nested']]
print(type(items))
print(items)
nums = [3, 1, 4, 1, 5]
print('first/last:', nums[0], nums[-1])
print('slice [1:4]:', nums[1:4])
nums.append(9)

<class 'list'>
[1, 'two', 3.0, ['nested']]
first/last: 3 5
slice [1:4]: [1, 4, 1]

In [95]:
type(items[-1])

list

In [91]:
nums

[3, 1, 4, 1, 5, 9]

In [92]:
nums[1]=2
nums

[3, 2, 4, 1, 5, 9]

In [108]:
nums=[3, 1, 4, 1, 5]
nums.insert(1, 1.5)
print(nums)
nums.append(1)
print(nums)
nums.remove(1)
print(nums)
popped = nums.pop(2)
print(nums)
print(nums, popped)

[3, 1.5, 1, 4, 1, 5]
[3, 1.5, 1, 4, 1, 5, 1]
[3, 1.5, 4, 1, 5, 1]
[3, 1.5, 1, 5, 1]
[3, 1.5, 1, 5, 1] 4

In [109]:
nums.remove(1)
nums

[3, 1.5, 5, 1]