# Python Practice Set — 100 Questions

> **How to use this notebook**
> - Read each question carefully.
> - Write your solution in the empty code cell below the question.
> - The **Expected Output** block shows what your code should print.
> - Questions progress from easy → medium → challenging within each section.

---

## Section 1 — Variables & Data Types
*Lecture 1 · Questions 1–10*

---

### Q1 — Storing User Profile Data
Create three variables:
- `user_name` → string `"Alex"`
- `order_count` → integer `7`
- `account_balance` → float `245.50`

Print each variable along with its type.

**Expected Output:**
```
Alex <class 'str'>
7 <class 'int'>
245.5 <class 'float'>
```

### Q2 — Boolean Flags
The FoodApp tracks two states:
- `is_restaurant_open = True`
- `is_cart_empty = False`

Print both variables and their types.

**Expected Output:**
```
True <class 'bool'>
False <class 'bool'>
```

### Q3 — Dynamic Typing
Python variables can change type. Start with `price = 199` (int), then reassign it to the string `"One Ninety Nine"`. Print the value and type both times.

**Expected Output:**
```
199 <class 'int'>
One Ninety Nine <class 'str'>
```

### Q4 — String Length
The app name is `"FoodDeliveryApp"`. Print how many characters it contains using `len()`.

**Expected Output:**
```
15
```

### Q5 — Type of an Expression
What type does Python produce when you add an `int` and a `float`?  
Try: `result = 3 + 4.0`. Print `result` and `type(result)`.

**Expected Output:**
```
7.0 <class 'float'>
```

### Q6 — Integer vs Float Division
Divide `10` by `4` using standard division (`/`). Then divide using floor division (`//`). Print both results and their types.

**Expected Output:**
```
2.5 <class 'float'>
2 <class 'int'>
```

### Q7 — Type Conversion (str → int)
A delivery charge of `"85"` arrives as a string from user input. Convert it to an integer, add `15` to it, and print the result with its type.

**Expected Output:**
```
100 <class 'int'>
```

### Q8 — Float to Int Conversion
A rating of `4.9` needs to be stored as a whole number. Convert it using `int()`. What value is stored? Print it.

**Expected Output:**
```
4
```
*(Note what happens — the decimal is truncated, not rounded.)*

### Q9 — Multi-line String
Create a multi-line string for a restaurant welcome banner and print it:

```
Welcome to Zomato!
Today's Special: Butter Chicken
Enjoy Free Delivery on orders above ₹300
```
Use a triple-quoted string (`'''` or `"""`).

### Q10 — None vs False
Create two variables: `pending_order = None` and `is_active = False`. Print both and their types.

**Expected Output:**
```
None <class 'NoneType'>
False <class 'bool'>
```

---
## Section 2 — Numbers & Arithmetic
*Lecture 1 · Questions 11–20*

---

### Q11 — Calculating Order Total
A Burger costs ₹120 and a customer orders 3 of them. Calculate and print the total cost.

**Expected Output:**
```
Total: 360
```

### Q12 — Splitting the Bill
Four friends share a ₹860 dinner bill equally. Use standard division. Print how much each person owes (as a float).

**Expected Output:**
```
Each person pays: 215.0
```

### Q13 — Floor Division (Whole Rupees Only)
The same ₹860 bill is split 3 ways, but you can only deal in whole rupees. Use floor division to find each person's share.

**Expected Output:**
```
Whole rupee share: 286
```

### Q14 — Modulo (Finding the Remainder)
After distributing whole-rupee amounts for the ₹860 bill among 3 people, how many rupees are left over? Use the `%` operator.

**Expected Output:**
```
Remainder: 2
```

### Q15 — Exponentiation
A new restaurant doubles its daily orders every week. Starting at 5 orders, calculate the order count after 4 weeks using `**`.

**Expected Output:**
```
Orders after 4 weeks: 80
```

### Q16 — Tax Calculation
An order of ₹500 attracts 18% GST. Calculate:
1. The tax amount
2. The final amount to be paid

**Expected Output:**
```
Tax: 90.0
Total payable: 590.0
```

### Q17 — Compound Assignment: -=
Start with a wallet balance of ₹1000. Subtract ₹350 for an order using `-=`. Print the remaining balance.

**Expected Output:**
```
Remaining balance: 650
```

### Q18 — Compound Assignment: *=
An order worth ₹450 gets a 10% discount. Multiply the price by `0.90` using `*=`. Print the discounted price.

**Expected Output:**
```
Discounted price: 405.0
```

### Q19 — Formula Application
The estimated delivery time (in minutes) is: `base_time + (distance_km * 3)`.  
Use `base_time = 10` and `distance_km = 5`. Print the result.

**Expected Output:**
```
Estimated delivery time: 25 minutes
```

### Q20 — Built-in Math Functions
Given delivery times (in minutes): `[12, 7, 45, 23, 8]`  
Print the shortest, longest, and total delivery time using `min()`, `max()`, and `sum()`.

**Expected Output:**
```
Fastest: 7 mins
Slowest: 45 mins
Total: 95 mins
```

---
## Section 3 — Strings
*Lecture 1 · Questions 21–30*

---

### Q21 — Cleaning User Search Input
A user typed `"  pIzZa BuRgEr  "` in the search bar. Strip the spaces and convert to lowercase.

**Expected Output:**
```
pizza burger
```

### Q22 — Slicing: Extracting a Word
The order status is `"Order_Dispatched"`. Extract only the word `"Order"` using string slicing.

**Expected Output:**
```
Order
```

### Q23 — Slicing: Getting the Last Word
From the same string `"Order_Dispatched"`, extract `"Dispatched"` using negative indexing.

**Expected Output:**
```
Dispatched
```

### Q24 — Reversing a String
Reverse the string `"FoodApp"` using slicing with a step of `-1`.

**Expected Output:**
```
ppAdooF
```

### Q25 — Counting & Finding
In the string `"Burger is better than a veggie burger"`:
- Count how many times `"burger"` appears (case-insensitive — convert to lowercase first)
- Find the index of the first occurrence

**Expected Output:**
```
Count: 2
First found at index: 0
```

### Q26 — Replace
An order record shows `"Status: Pending"`. Replace `"Pending"` with `"Confirmed"` and print it.

**Expected Output:**
```
Status: Confirmed
```

### Q27 — Split & Join
A CSV string of menu items: `"Burger,Pizza,Pasta,Sushi,Noodles"`.  
Split it into a list, then re-join with `" | "` as the separator.

**Expected Output:**
```
['Burger', 'Pizza', 'Pasta', 'Sushi', 'Noodles']
Burger | Pizza | Pasta | Sushi | Noodles
```

### Q28 — String Methods: startswith / endswith / isdigit
Given `email = "alex@foodapp.com"` and `pin = "4521"`:
- Check if the email ends with `"@foodapp.com"`
- Check if the PIN is all digits

**Expected Output:**
```
Valid email domain: True
Valid PIN: True
```

### Q29 — F-String Formatting
Format and print a receipt line using an f-string:
- `item = "Butter Chicken"`, `qty = 2`, `price = 280.0`
- Output: `Butter Chicken  x2  @ ₹280.00  =  ₹560.00`

**Expected Output:**
```
Butter Chicken  x2  @ ₹280.00  =  ₹560.00
```

### Q30 — zfill and partition
- An order ID `"427"` should always be 8 digits wide. Use `zfill(8)`.
- Partition the string `"alex@foodapp.com"` on `"@"` to split username and domain.

**Expected Output:**
```
00000427
('alex', '@', 'foodapp.com')
```

---
## Section 4 — Booleans & Conditionals
*Lecture 2 · Questions 31–40*

---

### Q31 — Logical Operators
Set `is_open = True` and `has_stock = False`. Print:
- Can we order? (both conditions must be True)
- Is *something* available? (at least one is True)
- Is the restaurant closed? (not open)

**Expected Output:**
```
Can order: False
Something available: True
Restaurant closed: False
```

### Q32 — Comparison Operators
Set `order_total = 45` and `free_delivery_min = 30`. Print all six comparisons: `==`, `!=`, `>`, `<`, `>=`, `<=`.

**Expected Output:**
```
equal: False
not equal: True
greater: True
less: False
greater or equal: True
less or equal: False
```

### Q33 — if / else: Delivery Fee
Ask the user `"Enter order total: "`. If the total is above ₹300, print `"Free Delivery!"`, else print `"Delivery charge: ₹30"`.

*Sample run with input `350`:*
**Expected Output:**
```
Free Delivery!
```

### Q34 — Promo Code Discount
Set `order_total = 500` and `promo = "SAVE20"`. If the promo code matches `"SAVE20"`, apply a 20% discount and print the final amount. Otherwise print the original amount.

**Expected Output:**
```
Promo applied! Final amount: ₹400.0
```

### Q35 — if / elif / else: Loyalty Tier
Read `total_orders` from the user. Assign a tier:
- ≥ 50 → Platinum
- ≥ 30 → Gold
- ≥ 15 → Silver
- else  → Bronze

*Sample run with input `32`:*
**Expected Output:**
```
Your loyalty tier: Gold
```

### Q36 — Compound Conditions
A restaurant accepts an order only if:
- `is_open = True`
- `items_available = True`
- `is_fully_booked = False`

Print `"Order accepted"` or `"Cannot place order"` based on all three conditions.

**Expected Output:**
```
Order accepted
```

### Q37 — Nested if
Set `order_total = 400` and `is_premium = True`. If the order is above ₹300 AND the user is a premium member, apply an extra 5% discount on top. Print the final amount.

**Expected Output:**
```
Premium discount applied. Final: ₹380.0
```

### Q38 — elif Chain: Star Rating Label
Set `rating = 4.2`. Print:
- `"Excellent"` if ≥ 4.5
- `"Good"` if ≥ 3.5
- `"Average"` if ≥ 2.5  
- `"Poor"` otherwise

**Expected Output:**
```
Good
```

### Q39 — Membership Test with `in`
Given `menu = ["Burger", "Pizza", "Pasta", "Sushi"]`, ask the user to enter an item name. Print `"Available"` if it's in the menu, else `"Not on menu"`.

*Sample run with input `Pizza`:*
**Expected Output:**
```
Available
```

### Q40 — Combined Logic: Free Delivery Eligibility
Set `order_total = 25` and get `promo_code` from input. Free delivery if `order_total > 30` **or** `promo_code == "FREEDEL"`.

*Sample run with input `FREEDEL`:*
**Expected Output:**
```
Free delivery applied!
```

---
## Section 5 — For Loops & range()
*Lecture 2 · Questions 41–50*

---

### Q41 — Basic For Loop
Print each item in `["Burger", "Pizza", "Pasta", "Sushi", "Noodles"]` on a separate line.

**Expected Output:**
```
Burger
Pizza
Pasta
Sushi
Noodles
```

### Q42 — enumerate() with a custom start
Print menu items with a numbered list starting from 1 (not 0) using `enumerate()`.

**Expected Output:**
```
1. Burger
2. Pizza
3. Pasta
```
*(use the list from Q41)*

### Q43 — range(): Order Preparation Steps
The kitchen has 5 preparation steps. Use `range(1, 6)` to print each step.

**Expected Output:**
```
Step 1: In progress...
Step 2: In progress...
Step 3: In progress...
Step 4: In progress...
Step 5: In progress...
```

### Q44 — range() with step
Given `prices = [90, 150, 200, 75, 320, 180]`, print only the items at even indices (0, 2, 4) using `range(0, len(prices), 2)`.

**Expected Output:**
```
Index 0: 90
Index 2: 200
Index 4: 320
```

### Q45 — Iterating over a String
The app receives a restaurant's short code `"ZOMATO"`. Print each character on its own line.

**Expected Output:**
```
Z
O
M
A
T
O
```

### Q46 — Accumulator: Total Bill
Given `cart_prices = [120, 250, 80, 45, 180]`, loop through and calculate the total. Print the grand total.

**Expected Output:**
```
Grand Total: ₹675
```

### Q47 — Filtering in a Loop
Given `ratings = [4.5, 3.2, 4.8, 2.9, 4.1, 3.7]`, print only restaurants with a rating of **4.0 or above**.

**Expected Output:**
```
4.5
4.8
4.1
```

### Q48 — Building a New List
Given `menu_prices = {"Burger":120, "Sushi":300, "Pasta":180, "Tea":40, "Pizza":250}`, use a for loop to build a new list of item names that cost **under ₹200**.

**Expected Output:**
```
Affordable items: ['Burger', 'Pasta', 'Tea']
```

### Q49 — Countdown: Delivery Timer
Use `range(10, 0, -1)` to print a delivery countdown. When it hits 0, print `"Order Arrived!"`.

**Expected Output:**
```
10 minutes remaining...
9 minutes remaining...
...
1 minutes remaining...
Order Arrived!
```

### Q50 — Reverse Iteration with Index
Given `restaurants = ["Burger King", "Sushi Zen", "Taco Bell", "Pizza Hut"]`, print them in reverse order using `range(len(...)-1, -1, -1)`.

**Expected Output:**
```
Pizza Hut
Taco Bell
Sushi Zen
Burger King
```

---
## Section 6 — While Loops, break & continue
*Lecture 2 · Questions 51–60*

---

### Q51 — Basic While Loop
Start with `drivers = 5`. Each iteration, print how many drivers are being checked and decrement by 1. Stop when `drivers == 0`, then print `"All drivers checked."`.

**Expected Output:**
```
Checking 5 nearby drivers...
Checking 4 nearby drivers...
...
Checking 1 nearby drivers...
All drivers checked.
```

### Q52 — Input Validation Loop
Ask the user to enter a quantity. If they enter a number ≤ 0 or a non-numeric value, keep asking. Once valid, print `"Quantity set to: X"`.

*Sample run with inputs `0`, `-3`, `2`:*
**Expected Output:**
```
Please enter a valid quantity (> 0): 
Quantity set to: 2
```

### Q53 — continue: Skip Sold-Out Items
Given `menu = ["Burger", "SOLD OUT", "Pizza", "SOLD OUT", "Pasta"]`, loop through. Use `continue` to skip any item marked `"SOLD OUT"` and print the rest.

**Expected Output:**
```
Burger
Pizza
Pasta
```

### Q54 — break: Stop When Revenue Target Hit
Given `orders = [120, 250, 80, 340, 95, 180]`, loop through and accumulate revenue. Use `break` to stop as soon as accumulated revenue exceeds ₹500. Print how many orders it took.

**Expected Output:**
```
Target reached after 3 orders. Revenue: ₹450
```
*(Note: 120+250+80 = 450, which isn't >500. 120+250+80+340 = 790 > 500, so answer is 4 orders)*

### Q55 — Cart Builder (While + Input)
Ask the user to enter item prices one by one. Keep asking until they type `"done"`. After that, print the total number of items and the grand total.

*Sample run with inputs `120`, `250`, `80`, `done`:*
**Expected Output:**
```
Item added: ₹120.00  |  Running total: ₹120.00
Item added: ₹250.00  |  Running total: ₹370.00
Item added: ₹80.00   |  Running total: ₹450.00
---
Items: 3  |  Grand Total: ₹450.00
```

### Q56 — continue in while: Skip Multiples
In a delivery slot system, slots 1–10 exist. Skip every slot that is a multiple of 3 (those are reserved) and print the rest as "Available".

**Expected Output:**
```
Slot 1: Available
Slot 2: Available
Slot 4: Available
Slot 5: Available
Slot 7: Available
Slot 8: Available
Slot 10: Available
```

### Q57 — break on Condition: Find a Top-Rated Restaurant
Given `ratings = [3.8, 4.2, 3.5, 4.7, 4.1]` and `names = ["A","B","C","D","E"]`, loop through and stop (`break`) as soon as you find a restaurant with rating ≥ 4.5. Print its name.

**Expected Output:**
```
Top-rated restaurant found: D (4.7)
```

### Q58 — Nested Loops: Restaurant × Menu Grid
Given 3 restaurants and 3 menu items each, print every combination. Stop after the second restaurant using a `break` on the outer loop.

```python
restaurants = ["Burger King", "Sushi Zen", "Taco Bell"]
items = ["Item A", "Item B", "Item C"]
```

**Expected Output:**
```
Burger King → Item A
Burger King → Item B
Burger King → Item C
Sushi Zen → Item A
Sushi Zen → Item B
Sushi Zen → Item C
```

### Q59 — Nested break with Flag
Search all restaurants for `"Biryani"`. Stop checking once found (break both loops).

```python
restaurants = {
    "Burger King": ["Burger", "Fries"],
    "Biryani House": ["Biryani", "Raita"],
    "Sushi Zen": ["Sushi", "Miso"]
}
```

**Expected Output:**
```
Checking Burger King...
Checking Biryani House...
Found Biryani at Biryani House!
```

### Q60 — While + break: OTP Attempts
Simulate an OTP entry system. The correct OTP is `"8421"`. Allow up to 3 attempts. Break on correct entry. Print "Account locked" if all 3 fail.

*Sample run with inputs `1111`, `2222`, `8421`:*
**Expected Output:**
```
Attempt 1: Incorrect OTP.
Attempt 2: Incorrect OTP.
Attempt 3: Access granted!
```

---
## Section 7 — Lists
*Lecture 3 · Questions 61–70*

---

### Q61 — List Indexing
Create `menu = ["Burger", "Pizza", "Pasta", "Sushi", "Noodles"]`.  
Print the first item, the last item, and the middle item (index 2).

**Expected Output:**
```
First: Burger
Last: Noodles
Middle: Pasta
```

### Q62 — append() and insert()
Start with `cart = ["Burger", "Pizza"]`. Add `"Ice Cream"` to the end. Then insert `"Garlic Bread"` at index 1. Print the final cart.

**Expected Output:**
```
['Burger', 'Garlic Bread', 'Pizza', 'Ice Cream']
```

### Q63 — remove() and pop()
Given `cart = ["Burger", "Pizza", "Pasta", "Sushi"]`:
1. Remove `"Pizza"` by value.
2. Pop the last item.
3. Print the remaining cart and what was popped.

**Expected Output:**
```
Remaining cart: ['Burger', 'Pasta']
Removed: Sushi
```

### Q64 — Sorting
Given `prices = [250, 90, 180, 45, 320]`:
- Sort ascending (cheapest first) — use `sorted()` to keep the original intact.
- Sort descending (most expensive first).

**Expected Output:**
```
Cheapest first: [45, 90, 180, 250, 320]
Most expensive first: [320, 250, 180, 90, 45]
```

### Q65 — in, index(), count()
Given `menu = ["Burger","Pizza","Pasta","Burger","Sushi"]`:
- Is `"Biryani"` on the menu?
- At what index does `"Pasta"` appear?
- How many times does `"Burger"` appear?

**Expected Output:**
```
Biryani on menu: False
Pasta at index: 2
Burger count: 2
```

### Q66 — 2D List (List of Lists)
Create a 2D structure: 3 restaurants, each with a list of 2 menu items.
```
[["Burger", "Fries"], ["Sushi", "Miso"], ["Pasta", "Garlic Bread"]]
```
Access and print the second item of the second restaurant.

**Expected Output:**
```
Miso
```

### Q67 — List Copying
Given `cart = ["Burger", "Pizza", "Pasta"]`, create two copies: one using `.copy()` and one using `[:]`. Append `"Sushi"` to the original. Print all three lists to show the copies are independent.

**Expected Output:**
```
Original: ['Burger', 'Pizza', 'Pasta', 'Sushi']
Copy 1:   ['Burger', 'Pizza', 'Pasta']
Copy 2:   ['Burger', 'Pizza', 'Pasta']
```

### Q68 — Aggregates: min, max, sum, len
Given `delivery_times = [12, 8, 45, 23, 7, 31]` (in minutes):
Print the fastest, slowest, average, and total delivery times.

**Expected Output:**
```
Fastest: 7 mins
Slowest: 45 mins
Average: 21.0 mins
Total: 126 mins
```

### Q69 — Merging Lists
You have two menu sections:
```python
starters  = ["Soup", "Salad", "Garlic Bread"]
mains     = ["Burger", "Pizza", "Pasta"]
```
Merge them using `+`. Then add `["Brownie", "Ice Cream"]` using `extend()`. Print the final menu.

**Expected Output:**
```
['Soup', 'Salad', 'Garlic Bread', 'Burger', 'Pizza', 'Pasta', 'Brownie', 'Ice Cream']
```

### Q70 — Count Items Matching a Condition
Given `prices = [120, 350, 85, 200, 450, 60, 175]`, count how many items cost **more than ₹200** using a loop.

**Expected Output:**
```
Items above ₹200: 2
```

---
## Section 8 — Dictionaries
*Lecture 3 · Questions 71–85*

---

### Q71 — Creating a Dictionary
Create a dictionary representing a menu item with:
`name`, `price`, `category`, `available` (True/False).  
Print the dictionary and its type.

**Expected Output:**
```
{'name': 'Burger', 'price': 120, 'category': 'Fast Food', 'available': True}
<class 'dict'>
```

### Q72 — Accessing Values
From the menu item dict in Q71:
- Access `price` using `[]`
- Access `category` using `.get()`
- Try to get `"discount"` with `.get()`, returning `"No offer"` as the default

**Expected Output:**
```
Price: 120
Category: Fast Food
Discount: No offer
```

### Q73 — Updating & Adding Keys
From the same dict:
1. Update `price` to `130`
2. Add a new key `rating` with value `4.5`
Print the updated dictionary.

**Expected Output:**
```
{'name': 'Burger', 'price': 130, 'category': 'Fast Food', 'available': True, 'rating': 4.5}
```

### Q74 — pop() and popitem()
Given `cart = {"Burger": 120, "Pizza": 250, "Pasta": 180}`:
1. Remove `"Burger"` using `.pop()` and print what was removed.
2. Remove the last-added item using `.popitem()` and print the result.
3. Print the remaining cart.

**Expected Output:**
```
Removed: 120
Popped: ('Pasta', 180)
Remaining: {'Pizza': 250}
```

### Q75 — Membership and Length
Given `menu = {"Burger": 120, "Pizza": 250, "Pasta": 180}`:
- Is `"Burger"` in the menu?
- Is `"Sushi"` NOT in the menu?
- How many items are on the menu?

**Expected Output:**
```
Burger on menu: True
Sushi not on menu: True
Total items: 3
```

### Q76 — Looping through a Dictionary
Loop through `menu = {"Burger": 120, "Pizza": 250, "Pasta": 180}` and print each item with its price in this format.

**Expected Output:**
```
Burger ....... ₹120
Pizza ....... ₹250
Pasta ....... ₹180
```

### Q77 — dict.fromkeys()
Create a stock-tracking dictionary for `["Burger", "Pizza", "Pasta", "Sushi"]` where every item starts with a stock of `10`. Use `dict.fromkeys()`.

**Expected Output:**
```
{'Burger': 10, 'Pizza': 10, 'Pasta': 10, 'Sushi': 10}
```

### Q78 — Merging Dictionaries
Combine a lunch menu and a dinner menu into one using both:
1. The `{**d1, **d2}` unpacking method
2. `.update()`

```python
lunch  = {"Burger": 120, "Pasta": 180}
dinner = {"Biryani": 280, "Sushi": 320}
```

**Expected Output:**
```
{'Burger': 120, 'Pasta': 180, 'Biryani': 280, 'Sushi': 320}
```

### Q79 — Order Frequency Counter
Given today's orders:
```python
orders = ["Burger","Pizza","Burger","Pasta","Burger","Pizza","Sushi"]
```
Use a loop with `.get()` to count how many times each item was ordered.

**Expected Output:**
```
{'Burger': 3, 'Pizza': 2, 'Pasta': 1, 'Sushi': 1}
```

### Q80 — Nested Dictionary
Create a nested dictionary for a restaurant:
```
name, address (street, city, pin), contact (list of 2 phone numbers)
```
Then access: the city, and the second phone number.

**Expected Output:**
```
City: Mumbai
Second contact: 022-87654321
```

### Q81 — setdefault()
Given `item = {"name": "Burger", "price": 120}`:
1. Use `.setdefault()` to add `"tax": 0.18` (only if it doesn't exist).
2. Try `.setdefault()` again on `"price"` with a value of `999` — confirm original price is preserved.

**Expected Output:**
```
After setdefault tax: {'name': 'Burger', 'price': 120, 'tax': 0.18}
Price still: 120
```

### Q82 — Finding the Most Expensive Item
Given `menu = {"Burger":120, "Sushi":320, "Pasta":180, "Biryani":280}`, loop through `.items()` to find the most expensive item.

**Expected Output:**
```
Most expensive: Sushi at ₹320
```

### Q83 — Deep Copy of Nested Dict
```python
import copy
menu = {"Burger": {"price": 120, "available": True}}
```
Create a shallow copy and a deep copy. Change `menu["Burger"]["price"]` to `999`. Show that the deep copy is unaffected.

**Expected Output:**
```
Shallow copy price: 999   ← affected
Deep copy price:    120   ← safe
```

### Q84 — dict from zip()
You have two lists:
```python
items  = ["Burger", "Pizza", "Pasta"]
prices = [120, 250, 180]
```
Use `zip()` and `dict()` to create a menu dictionary.

**Expected Output:**
```
{'Burger': 120, 'Pizza': 250, 'Pasta': 180}
```

### Q85 — Filtering a Dictionary
Given `menu = {"Burger":120,"Sushi":320,"Pasta":180,"Tea":40,"Pizza":250}`, create a new dictionary containing only items priced **under ₹200**.

**Expected Output:**
```
{'Burger': 120, 'Pasta': 180, 'Tea': 40}
```

---
## Section 9 — Error Handling
*Lecture 3 · Questions 86–100*

---

### Q86 — ZeroDivisionError
A restaurant's profit is `revenue - cost`. If `orders = 0`, dividing per-order profit causes a divide-by-zero. Wrap it in a `try/except`.

```python
revenue = 5000
orders = 0
```

**Expected Output:**
```
Error: Cannot divide by zero — no orders placed.
```

### Q87 — ValueError
Ask the user to enter the number of items. If they type a non-number (e.g. `"two"`), catch the `ValueError` and print a friendly message.

*Sample run with input `two`:*
**Expected Output:**
```
Invalid input. Please enter a whole number.
```

### Q88 — IndexError
Given `order_queue = ["Order#1", "Order#2", "Order#3"]`, try to access index 10. Catch the `IndexError`.

**Expected Output:**
```
Error: That order slot does not exist.
```

### Q89 — KeyError
Given `menu = {"Burger": 120, "Pizza": 250}`, try to look up `"Biryani"`. Catch the `KeyError`.

**Expected Output:**
```
Error: 'Biryani' is not available on the menu.
```

### Q90 — TypeError
Try to add the price (integer `120`) and a string `" rupees"`. Catch the `TypeError`.

**Expected Output:**
```
Error: Cannot mix number and text types.
```

### Q91 — AttributeError
A pending order is stored as `None`. Try calling `.items()` on it. Catch the `AttributeError`.

**Expected Output:**
```
Error: Order object is empty — no attributes to access.
```

### Q92 — Multiple except Blocks
Ask the user for a quantity and calculate `1000 / quantity`. Handle:
- `ValueError` (non-numeric input)
- `ZeroDivisionError` (quantity = 0)

*Sample run with input `0`:*
**Expected Output:**
```
Error: Quantity cannot be zero.
```

### Q93 — finally Block
Simulate reading a restaurant's config file. Whether it succeeds or fails, the `finally` block should always print `"Connection closed."`.

**Expected Output:**
```
Error: Config file not found.
Connection closed.
```

### Q94 — Custom Exception: InvalidQuantityError
Define a class `InvalidQuantityError(Exception)`. Raise it if the user enters a quantity ≤ 0.

*Sample run with quantity `= -2`:*
**Expected Output:**
```
Caught: Order quantity cannot be negative or zero.
```

### Q95 — Custom Exception: ItemNotOnMenuError
Define `ItemNotOnMenuError(Exception)`. Given `menu = ["Burger","Pizza","Pasta"]`, raise it if the user requests an item not in the list.

*Sample run with input `Sushi`:*
**Expected Output:**
```
Caught: 'Sushi' is not available on today's menu.
```

### Q96 — try/except in a Loop
Given `raw_prices = ["120", "abc", "250", "xx", "80"]`, loop through. Convert each to a float inside `try/except`. Skip invalid entries and accumulate the valid ones.

**Expected Output:**
```
Skipping invalid entry: abc
Skipping invalid entry: xx
Valid total: ₹450.0
```

### Q97 — try / except / else
Ask the user for two numbers. Divide them. Use the `else` block to print the result only if no error occurred.

*Sample run with inputs `100`, `4`:*
**Expected Output:**
```
Result: 25.0
```

### Q98 — Raising ValueError Manually
Write a function-style block that checks if `price < 0`. If so, raise a `ValueError` with a clear message.

```python
price = -50
```

**Expected Output:**
```
ValueError caught: Price cannot be negative. Got: -50
```

### Q99 — Nested try/except
The outer block catches any unexpected error. The inner block specifically handles `KeyError` when looking up a menu item's price.

```python
menu = {"Burger": 120}
item = "Sushi"
```

**Expected Output:**
```
Inner handler: 'Sushi' not found in menu.
```

### Q100 — Mini Order Validator *(Capstone)*
Build a complete order validator. Ask the user for:
1. `item_name` — must be in `menu = ["Burger","Pizza","Pasta"]`
2. `quantity`  — must be a positive integer

Raise:
- `ItemNotOnMenuError` if item is missing
- `InvalidQuantityError` if quantity ≤ 0 or non-numeric

If all is valid, print the order confirmation with total price.

```python
menu_prices = {"Burger": 120, "Pizza": 250, "Pasta": 180}
```

*Sample run with `Pizza`, `3`:*
**Expected Output:**
```
Order confirmed: 3x Pizza = ₹750
```